{% extends "base.html" %}
{% block content %}
{% if result %}
{% if form.email_addr.data %}
<p class="alert alert-success"><a href="/status/{{ task_id }}">Check the deploy status here</a>, or the result will be sent to {{ form.email_addr.data }} in minutes</p>
{% else %}
<p class="alert alert-success"><a href="/status/{{ task_id }}">Check the deploy status here</a></p>
{% endif %}
{% endif %}
<div class="jumbotron">
  <form role="form" method="post" action="{{ url_for("dcd") }}">
    <div class="form-group {% if form.endpoint.errors %}has-warning has-feedback{% endif %}">
      {{ form.endpoint.label(class="control-label") }}
      {{ form.endpoint(class="form-control", placeholder="http://1.2.3.4:5000/v2.0/") }}
      {% if form.endpoint.errors %}
      <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
      {% endif %}
    </div>
    <div class="form-group {% if form.username.errors %}has-warning has-feedback{% endif %}">
      {{ form.username.label(class="control-label") }}
      {{ form.username(class="form-control") }}
      {% if form.username.errors %}
      <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
      {% endif %}
    </div>
    <div class="form-group {% if form.password.errors %}has-warning has-feedback{% endif %}">
      {{ form.password.label(class="control-label") }}
      {{ form.password(class="form-control") }}
      {% if form.password.errors %}
      <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
      {% endif %}
    </div>
    <div class="form-group {% if form.project.errors %}has-warning has-feedback{% endif %}">
      {{ form.project.label(class="control-label") }}
      {{ form.project(class="form-control") }}
      {% if form.project.errors %}
      <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
      {% endif %}
    </div>
    <div class="form-group">
      {{ form.memo.label(class="control-label") }}
      {{ form.memo(class="form-control", rows="4") }}
    </div>
    <div class="form-group {% if form.email_addr.errors %}has-warning has-feedback{% endif %}">
      {{ form.email_addr.label(class="control-label") }}
      {{ form.email_addr(class="form-control") }}
      {% if form.email_addr.errors %}
      <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
      {% endif %}
    </div>
    <button type="submit" class="btn btn-primary btn-lg btn-block">Deploy</button>
  </form>
</div>
{% endblock %}
